<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BasketMapper">
	<!-- <insert id="basketListAdd" parameterType="com.example.demo.model.wishlist_info"> 
		insert into basket_info values(null,#{user_id},#{pkg_seq},now()) </insert> -->

	<insert id="basketListAdd">
		insert into basket_info values(null, #{user_id},#{pkg_seq},now())
	</insert>

	<select id="selectBasketList"
		parameterType="com.example.demo.model.basket_info"
		resultType="com.example.demo.model.basket_info">
		select * from basket_info
	</select>
</mapper>