<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PackageinfoMapper">
	<select id="selectPkgList" parameterType="com.example.demo.model.package_info" resultType="com.example.demo.model.package_info">
		select * from package_info
	</select>
	
	<select id="storeDetail" resultType="com.example.demo.model.package_info">
		select * from package_info where pkg_seq=#{DetailNum}
	</select>
</mapper>