<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReservMapper">
	<select id = "reservList" 
			parameterType="com.example.demo.model.reservation_info"
			resultType="com.example.demo.model.reservation_info">
			select concat(date_format(res.reserv_date, '%Y%m%d'), res.reserv_seq) reserv_num, 
			date_format(res.reserv_date, '%Y%m%d') reserv_date,
        	pkg.pkg_name,
        	res.reserv_price, pkg.pkg_seq
			from reservation_info res join package_info pkg
			where res.user_id = #{user_id}
			and res.pkg_seq = pkg.pkg_seq
	</select>
	
	<delete id = "reservDelete">
		delete from reservation_info where reserv_seq=#{reserv_seq}
	</delete>
	
	<insert id="reserv" >
		insert into reservation_info values(null, now(), #{user_id}, #{pkg_seq}, #{reserv_name}, #{reserv_addr}, #{reserv_post}, #{reserv_phone}, #{reserv_price}, #{reserv_pay}, #{reserv_s_date}, #{reserv_e_date})
	</insert>
	
	<select id="selectOrderCom" resultType="com.example.demo.model.reservationlist">
		select * from reservation_info order by reserv_seq DESC limit 1
	</select>
	
</mapper>