<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ReviewMapper">
	<insert id="writeReview"
			parameterType="com.example.demo.model.review_info"
			>
		insert into review_info values (
		null, #{pkg_seq}, #{rv_content},
		concat('/',substring_index(#{rv_photo}, '\\',-1)), 
		now(), #{rv_rating}, #{user_id}
		)
	</insert>
	
	<select id="selectAllReview"
			parameterType="com.example.demo.model.review_info"
			resultType="com.example.demo.model.review_info">
		select rv_seq, pkg_seq, rv_content, rv_photo, 
		date_format(rv_date, '%Y%m%d') rv_date, rv_rating, user_id
		from review_info where user_id = #{user_id}
		order by rv_seq desc;
	</select>
</mapper>