<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserinfoMapper">

	<insert id="sign" parameterType="com.example.demo.model.user_info">
          INSERT INTO user_info VALUES(#{user_id}, #{user_pw}, #{user_name}, #{user_phone}, #{user_addr}, #{user_type}, now(), #{user_email});
    </insert>
    
	<select id="login" parameterType="com.example.demo.model.user_info" resultType="com.example.demo.model.user_info">
	select * from user_info where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
    <update id="update" parameterType="com.example.demo.model.user_info">
    	UPDATE user_info SET user_pw = #{user_pw}, user_phone = #{user_phone}, user_addr = #{user_addr}, user_email = #{user_email}
    	where user_id = #{user_id}
    </update>
</mapper>